*{
	box-sizing: border-box;
}

body{
	background: #010f26;
	color: #fff;
	line-height: 1.6;
	font-family: 'Raleway', sans-serif;
	padding: 1em;
}

.container{
	position: relative;
	top:-25px;
	background: url('../img/showcase.jpeg')no-repeat center center / cover;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	max-width: 80%;
}

ul{
	list-style: none;
	padding: 0;
}

.brand{
	text-align: center;
}

.brand span{
	color:red;
}

.wrapper{
	box-shadow: 0 0 70px 0 rgba(72, 94, 116, 0.7);
	height: 520px;
}

.wrapper > *{
	padding: 1em;

}

.company-info h3, .company-info ul{
	text-align: center;
	margin: 0 0 1rem 0;
}

/********Form Styles************/

.contact{
	grid-auto-rows: 60px;
}
.contact form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	grid-auto-rows: 100px;
}

.contact form label{
	display: block;
}

.contact form p{
	margin:0;
}

.contact form .full{
	grid-column: 1 / 3;
}

.contact form button, .contact form textarea, .contact form input {
	width: 100%;
	padding:1em;
	box-shadow: 0 0 30px 0 rgba(72, 94, 116, 0.9);
}

.contact form button{
	background: rgba(0, 0, 0, 0.8);
	border:0;
	color: #ccc;
	text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus{
	outline: 0;
	background: #ccc;
	color: #000;
	transition: background-color 2s ease-out;
	cursor: pointer;
}

.alert{
	text-align: center;
	padding: 10px;
	background: #79c879;
	color: #fff;
	margin-bottom: 10px;
	display: none;
}
/******large screens***********/
@media(min-width: 700px){
	.wrapper{
		display: grid;
		grid-template-columns: 1fr 2fr;
	}

	.wrapper >*{
		padding: 2em;
	}

	.company-info h3, .company-info ul, .brand{
		text-align: left;
	}
}

@media(max-width: 699px){

	.container {
		position: relative;
		top: -40px;
		font-size: 15px;
	}

	.contact{
		position: relative;
		top:-50px;
		font-size: 15px;
	}

	form button{
		position: relative;
		top: 40px;
	}
}