@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #010f26;
	color: #ccc;
	overflow-x: hidden;	
}

/*********navagation******************/

#side-nav{
	position: fixed;
	z-index: 1;
	top: 30%;
	right:5%;
	width: 10%;
	display: inline-block;
}

#side-nav ul {
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    font-size: 1.5rem;
}

#side-nav li a {
    display: block;
    color: #ccc;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
background-color:#4CAF50;
}

button{
	background: rgba(0, 0, 0, 0.8);
	border:none;
	padding: 10px;
	border-radius: 5px;
	cursor:pointer;
	color: #ccc;
	outline: none;
	margin: .5rem;
}
/**********end navagation*****************/

.container{
	font-family: 'Raleway', sans-serif;
	height: 100vh;
	width: 100vw;
	position:relative;
	top: 10%;
	background: #333 url('../img/showcase.jpeg') no-repeat center center / cover;
	color: #ccc;
}

#name{
	position: relative;
	top: 70px;
	left: 30px;
}

#name h1{
	margin-bottom: 3%;
}

#readmore {
	position: absolute;
	top: 41%;
	left: 19.5%;
	cursor: pointer;
	font-size: 1.4rem;
}

.closeBtn {
	position: relative;
	float: right;
	cursor: pointer;
}

#about-container {
	position: relative;
	width: 60%;
	margin: 0 20%;
	top: 20%;
	padding: 20px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	display: none;
}

#about-container p{
	font-size: 1.5rem;
}

.portfolio-container{
	position: relative;
	width: 60%;
	margin: 100px auto;
	text-align: center;
}

.portfolio-container button{
	background: rgba(0, 0, 0, 0.8);
	border:none;
	padding: 15px;
	cursor:pointer;
	color: #ccc;
	outline: none;
	margin: .5rem;
}

.portfolio-container img{
	width: 50%;
	border-radius: 10px;
}

#weight-converter{
	margin-top: 18rem;
}




.websites{
	margin: 50% 0;
}

.websites h2, p{
	line-height: 1.7rem;
}

.websites button{
	background: rgba(0, 0, 0, 0.8);
	border:none;
	padding: 15px;
	cursor:pointer;
	color: #ccc;
	outline: none;
	margin: .5rem;
}

.websites img{
	width: 80%;
	height: 10%;
	border-radius: 10px;
}

h1, h2, h3, p {
	font-weight: 200;
	margin: 0.4rem;
	padding: 1px;
}

p{
	font-size: 1.2rem;
}

h1 {
	font-size: 2.5rem;
}

h2{
	font-size: 2rem;
	color: #ccc;
}

a {
	text-decoration: none;
	color:#ccc;
}

a:hover {
	opacity: .3;
}

/* cursor */
.txt-type > .txt {
	border-right: 0.2rem solid #777;
}

.resume-body{
	text-align: center;
	width: 60%;
	margin: 50px auto;
	line-height: 1.7rem;
}

#resume-header{
	position: relative;
	top: 30px;
}

#myName{
	padding-bottom: 2.7rem;
}

#prof-summary{
	position: relative;
	top: 20px;
}

#prof-summary p{
	padding-bottom: 20px;
}

.tech-skills-title{
	display:block;
	width: 100%;
	margin-top: 50px;
}

.tech-skills ul{
	list-style: none;
}

#exp-edu{
	margin: 0 auto;
	width: 60%;
}

/*#exp-edu p{
	line-height: 1.7rem;
}*/

#exp-edu h2{
	text-align: center;
	padding-top: 20px;

}

#footer{
	position: relative;
	top: 40px;
	left: 0;
	bottom: 0;
	text-align: center;
	height: 75px;
	width: 100%;
	background: #000;
}

#footer p{
	padding-top:25px;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	h1 {
		font-size: 5rem;
	}
}

@media (min-width: 811px) {
	#top-nav{
		display: none;
	}
}

@media (max-width: 810px) {

	#side-nav{
		display: none;
	}

	#top-nav{
	position: fixed;
	width: 100%;
	z-index: 1;
	padding: 10px;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	list-style: none;
	}

	#top-nav li{
	display: inline;
	font-size: 1rem;
	}

	#top-nav li a{
	padding: 5px;
	text-decoration: none;
	}
	.container {
		padding: 0 1rem;
	}

	#name h1 {

	}

	#welcome{
		font-size: 1rem;
	}	

	h1{
		font-size: 2.5rem;
	}

	#about-container{
		position: relative;
		width: 90%;
		margin: 0 auto;
	}

	#about-container p{
	font-size: 1rem;
	}

	#readmore {
	top: 30%;
	left: 13%;
	font-size: 1rem;
	}

	.portfolio-container{
		width:90%;
	}

	.portfolio-container img{
		width: 90%;
	}

	.portfolio-container h2{
		font-size: 1.5rem
	}

	.websites img{
	width: 100%;
	}

	.resume-body{
		width: 90%;
		font-size: 1.7
	}

	.resume-body h2{
		font-size: 1.5rem;
	}

	.resume-body ul {
		list-style: none;
	}

	#myName{
		font-size: 2.5rem;
		padding-bottom: 1rem;
	}

	#exp-edu{
		width: 90%;
	}

	#exp-edu h2{
		font-size: 1.7rem;
		margin-bottom: 1rem;
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1rem;
	}
}